# File handling:
1. create
2. write
3. reading
4. appending
5. Renaming
6. Removing#

# Question 5:
1. Create a folder
2. Goto that folder and create 5 no.of files
3. All the file names should be unique
4. Add some content into the file and the content in all the files should be unique
5. File size should be 512bits

In [ ]:
import os
os.mkdir("python")#creating a folder
for i in range(5):#for creating 5 files
    file_name = " "#creating a file name
    f = open("c://python//file name","a")#creates a file with the given name
    for i in range(512):#adding content
        f.write("character")

In [2]:
help("string")

Help on module string:

NAME
    string - A collection of string constants.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(*args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  Template(template)
     |
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(*args, **kws)
     |
     |  substitute(*args, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  braceidpattern = None
     |
     |  delimiter = '$'
     |
     |  flags = <RegexFlag.IGNORECASE: 2>
     |
     |  idpattern = '(?a:[_a-z][_a-z0-9]*)'
     |
     |  pattern = re.compile('\n    \\$(?:\n      (?P<escaped>\\$)...ced>(?a:[...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    c:\users\hello\anaconda3\lib\string.py

In [3]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

# Tuple:
1. Immutable(changes are not allowed)
2. use ( ) and elements are seperated by ,
3. Indexed,Ordered,ALlows duplicate values

In [5]:
#Tuple 
tup1 = (12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [6]:
print(tup1[2])
print(tup1[-1])

345.56
True

In [7]:
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(list1)
tup1

(12, 3, 100, 'abc', True)

# Built-in methods:
1. count()
2. index()

In [8]:
print(tup1.count(12))
print(tup1.index(12))

1
0

# packing and Unpacking

In [9]:
#unpacking
tup2 = (12,232,4,354)
a,b,c,d = tup2
print(d)

354

In [10]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [11]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

In [12]:
#Iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

# set:
1. { }
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5. Mutable

In [14]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [15]:
#Iterating through set
for ele in set1:
    print(ele)

1
2
5
6
45
334

# Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [16]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [17]:
#Removing duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

# Built-in Methods:
#### Adding an element
1. add()
#### Removing an element
1. pop()
2. remove()
3. discard()
4. clear()
#### Other operations
1. union()
2. intersection()
3. difference()
4. symmetric_difference()
5. issubset()
6. issuperset()
7. isdisjoint()
8. update()
7. intersection_update()
10. difference_update()
11. symmetric_difference_update()

In [18]:
set2 = set()
print(type(set2))

<class 'set'>

In [20]:
#Adding an element
set2.add(12)
set2.add(2)
set2.add(100)
set2

{2, 12, 100}

In [21]:
#Removes an element from the set
set2.pop()

100

In [22]:
#Removes the specified element from the set if it is present
#else it throws an error
set2.remove(12)
set2

{2}

In [23]:
#Removes the specified element from the set if it is present 
#else it performs nothing
set2.discard(12)

In [24]:
#Removes all the elements of the set
set2.clear()
set2

set()

In [25]:
#union,difference(A-B or B-A),intersection
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union A U b ==> {1,2,3,4,5,6,7}
print(A.union(B))
#A - B ==> {1,2}
#B - A ==> {6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [26]:
#subset,superset
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [27]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [28]:
#Symmetric difference ==> (A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [29]:
#set A will be updated with the result of union of A and B
A.update(B)#A = A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [30]:
#set A will be updated with the result of intersection of A and B
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [31]:
#set A will be updated with the result of difference of A and B
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [32]:
#set A will be updated with the result of symmetric_difference of A and B
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

# Dictionary:
dictionary name = {key1:value1,key2:key2,...... }
#### Rules for key :
1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple )

In [34]:
#creating a dictionary
dict1 = {"name":"preeti","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'address': 'hyd'}

In [35]:
#Extacting an element
print(dict1["emp id"])

1234

In [36]:
#Removing or deleting an entry 
del dict1["address"]
print(dict1)

{'name': 'preeti', 'emp id': 1234}

In [37]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'course': 'python'}

# Built-in methods:
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()#

In [38]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['preeti', 1234, 'python'])
dict_items([('name', 'preeti'), ('emp id', 1234), ('course', 'python')])

In [39]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

preeti
preeti

In [40]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'preeti', 'emp id': 1234, 'course': 'python', 'address': 'hyd'}

In [41]:
#update() ==> Appends the dictionary entries
d = {1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'preeti', 'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [42]:
#Removing an entry =S=> pop(),popitem()
#pop() ==> removes an entry with respect to mentioned key
dict1.pop("name")
dict1

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [43]:
#popitem() ==>removes the last entry
dict1.popitem()

(3, 3)

In [44]:
dict1

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}