# CSE-2217103150036-POLU NANDINI REDDY

# Question 1:Data Series] Write a Python program to add, subtract, multiple and divide two Pandas Series.
- Sample Series:
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
- Sample Output:
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]

In [2]:
import pandas as pd
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])
add = s1 + s2
sub = s1 - s2
mul = s1 * s2
div = s1 / s2
data  = {"Add":add,"Subtract":sub,"Multiply":mul,"Division":div}
df = pd.DataFrame(data)
df

   Add  Subtract  Multiply  Division
0    3         1         2  2.000000
1    7         1        12  1.333333
2   11         1        30  1.200000
3   15         1        56  1.142857
4   19         1        90  1.111111

# Question 2:[Quartiles] Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
- Sample Output: Original Series:
0 3.000938
1 11.370722
2 14.612143
3 8.990256
4 13.925283
5 12.056875
.... 17 14.118931
18 8.247458
19 5.526727
dtype: float64
Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [3]:
import pandas as pd
import numpy as np
n = np.random.RandomState(100)
ns = pd.Series(n.normal(10, 4, 20))
print("Original Series:")
print(ns)
result = np.percentile(ns, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

# Question 3:[List Difference] Write a Pandas program to get the items of a given series not present in another given series.
- Sample Output:
- Original Series:
```sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64```

In [4]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
print("Orginal 1 Series :\n s1:")
print(s1)
print("s2 :")
print(s2)
not_inboth = s1[~s1.isin(s2)]
print("Items of s1 not present in s2:")
print(not_inboth)

Orginal 1 Series :
 s1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2 :
0     2
1     4
2     6
3     8
4    10
dtype: int64
Items of s1 not present in s2:
0    1
2    3
4    5
dtype: int64

# Question 4:[Filter Words with Multiple Vowels] Write a Pandas program to filter words from a given series that contain at least two vowels.
- Sample Output:
- Original Series: 0 Red
 1. Green
 2. Orange
 3. Pink
 4. Yellow
 5. White dtype: object
- Filtered words:
 1. Green
 2. Orange
 4. Yellow
 5. White
dtype: object

In [5]:
import pandas as pd
from collections import Counter
colors = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(colors)
print("\nFiltered words:")
result = colors.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(colors[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

### Question 5:Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [6]:
import pandas as pd
import numpy as np
data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df1 = pd.DataFrame(data , index=labels)
print("No.of attempts in exam greater tha 2:")
d = pd.DataFrame(df1[(df1['attempts'] > 2)])
d

No.of attempts in exam greater tha 2:

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes